body {
    font-family: 'Montserrat';
    font-weight: 500;
}

.btn {
    font-family: 'ubuntu';
}

/* Title Section */

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 10%;
}

.download-btn {
    font-weight: 500;
    margin: 5% 3% 5% 0;
}

.iphone {
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h3 {
    font-weight: 900;
    margin-top: 10px;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

/* Features */

p {
    color: #8f8f8f;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* Testimonials */

h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.carousel-item {
    padding: 7% 15%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* @Media changes */

@media (max-width: 1052px) {
    #title {
        text-align: center;
    }
    .iphone {
        position: static;
        transform: rotate(0deg);
    }
}

/* CTA */

#cta {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 5%;
}

.footer-icon {
    margin: 10px 10px;
}

.last-h3 {
    font-size: 3rem;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Footer */

#footer {
    padding: 10% 10%;
    text-align: center;
}




